<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<h4 class="card-title">
					<a class="btn btn-light btn-xs"
						th:href="@{'/veru/' + ${planificacione.usuario.id}}"
						th:text="'&laquo; Volver'"></a>
				</h4>

				<form name="formFactura" th:action="@{/planificacione/formf/}"
					th:object="${planificacione}" method="post" onsubmit="return checkDate(createAt.value);">

					<div class="form-group row">
						<label class="col-sm-2 col-form-label" th:text="'Usuario'"></label>
						<div class="col-sm-6">
							<input th:value="${planificacione.usuario.usuario}"
								class="form-control" disabled='disabled' />
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label" th:text="'Descripción'"></label>
						<div class="col-sm-6">
							<input type="text" th:field="*{descripcion}" class="form-control" th:required="required"/>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label" th:text="'Observación'"></label>
						<div class="col-sm-6">
							<textarea th:field="*{observacion}" class="form-control" th:required="required"></textarea>
						</div>
					</div>



					<div class="form-group row">
						<label class="col-sm-2 col-form-label" th:text="'Sala'"></label>
						<div class="col-sm-6">
							<select class="form-control" th:field="*{sala.id}">
								<option th:each="sala : ${salas}" th:value="${sala.id}"
									                           th:text="${sala.nombre}"
									      th:selected="${sala.id} == ${planificacione.sala.id}"></option>
							</select>
						</div>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-2 col-form-label" th:text="'Fecha'"></label>
						<div class="col-sm-6">
			            	<input type="datetime-local" class="form-control" id="createAt" th:field="*{createAt}" th:required="required"/>
	 					</div>
						<div id="dateMessage" class="text-danger"></div>
						 
					</div>					

					<div class="form-group row">
						<label for="buscar_producto" class="col-sm-2 col-form-label"
							th:text="'Buscar Producto'"></label>
						<div class="col-sm-6">
							<input type="text" name="buscar_producto" id="buscar_producto" class="form-control" th:disabled="${operation == 'create'}"/>
						</div>
					</div>

					<table
						th:replace="planificacione/plantilla-items :: itemsPlanificacione"></table>

					<table id="cargarItemPlanificacione"
						class="table table-sm table-striped table-hover">

						<thead>
							<tr>
								<th>ID</th>
								<th>Nombre</th>
								<th>Cantidad Disponible</th>
								<th>Cantidad Deseada</th>
								<th>Eliminar</th>
							</tr>
						</thead>

						<tbody th:if="${operation == 'create'}">

						</tbody>
						
						<tbody th:unless="${operation == 'create'}">
							<tr th:id="'row_'+${item.id}" th:each="item : ${planificacione.items}">
								<td class="d-none"><input type="hidden" th:value="${item.producto.id}" name="item_id[]"/></td>
								<td th:text="${item.producto.id}"></td>
								<td th:text="${item.producto.nombre}"></td>
								<td th:text="${item.cantidadDisponible}"></td>
								<td><input type="number" th:value="${item.cantidad}" name="cantidad[]" th:id="'cantidad_'+${item.id}" min="1" th:max="${item.cantidadDisponible}==0?${item.cantidad}:${item.cantidadDisponible}"  class="form-control col-sm-4"  th:onchange="'itemsHelper.hasProducto('+${item.id}+', this.value);'"/></td>
							    <td><a href="#" class="btn btn-danger btn-xs" th:onclick="itemsHelper.eliminarLineaFactura([[${item.id}]]);">x</a></td>
							</tr>
						</tbody>

					</table>


					<div class="form-group row">
						<div class="col-sm-6">
							<input type="submit" th:value="${titulo}"
								class="btn btn-secondary" />
						</div>
					</div>

				</form>


			</div>
		</div>

	</div>


	<footer th:replace="layout/layout :: footer"></footer>
	<script th:replace="planificacione/js/autocomplete-productos :: javascript"></script>
	<script>

		function checkDate(dateString) {
		  console.log(dateString);
		  var date = convertDateToUTC(new Date(dateString));
		  var fechaMinima = new Date();
		  fechaMinima.setDate(fechaMinima.getDate() + 2);
		 
		  if (isNaN(date.getTime())) {
		  	console.log('* Debe eligir una fecha y hora');
		  	document.getElementById('dateMessage').innerHTML  = '* Debe eligir una fecha y hora';
		  	 $("#buscar_producto").prop("disabled",true);
		    return false;
		  } else if (date < fechaMinima) {
			  console.log('* La fecha deben ser 48 hrs mas al dia actual');
			  document.getElementById('dateMessage').innerHTML  = '* La fecha deben ser 48 hrs mas al dia actual';
			  $("#buscar_producto").prop("disabled",true);
			  return false;
		  } else {
			console.log(date, fechaMinima, date >= fechaMinima); 
			 document.getElementById('dateMessage').innerHTML  = '';
			 $("#buscar_producto").prop("disabled",false);
			return true;
		  }
		}

		function convertDateToUTC(date) { 
		    return new Date(date.getUTCFullYear(), date.getUTCMonth(), date.getUTCDate(), date.getUTCHours(), date.getUTCMinutes(), date.getUTCSeconds()); 
		}

	
	</script>

</body>
</html>
