<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">
	
        <div class="card">
        <div class="card-header" th:text="${titulo}"></div>
        <div class="card-body">	

				<table
					class="table table-bordered table-striped my-4" id="planificacioneTable">
					<thead class="thead-inverse">
						<tr>
							<th>Usuario</th>
							<th>Folio</th>
							<th>Descripcion</th>
							<th>Observaciones</th> 
							<th>Sala</th> 
							<th>Fecha</th> 
							<th>Ver</th> 
						</tr>
					</thead>

					<tbody>
						<tr th:each="planificacione: ${planificaciones}">
							<td th:text="${planificacione.usuario.usuario}"></td>
							<td th:text="${planificacione.id}"></td>
							<td th:text="${planificacione.descripcion}"></td>
 							<td th:text="${planificacione.observacion}"></td> 
 							<td th:text="${planificacione.sala.nombre}"></td> 
							<td th:text="${planificacione.createAt}"></td> 
 							<td><a class="btn btn-primary btn-xs" th:href="@{'/planificacione/ver/' + ${planificacione.id}}" th:text="'Detalle'"></a></td> 
						</tr>
					</tbody>
				</table>
				
		</div>
		</div>
				
	</div>
		<footer th:replace="layout/layout :: footer"></footer>	
		<script>
			$(document).ready(function() {
				$("#planificacioneTable").DataTable({
						'aoColumnDefs': [{
        				'bSortable': false,
        				'aTargets': [-1] /* 1st one, start by the right */
    				}]
				});
			})
		</script>
</body>
</html>