<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">
	
        <div class="card">
        <div class="card-header" th:text="${titulo}"></div>
        <div class="card-body">	

		<h4 class="card-title">
			<a th:href="@{/formp}" class="btn btn-primary btn-xs">Crear
				Material</a>
		</h4>
		<table class="table table-striped" id="materialDataTable">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nombre</th>
					<th>Cantidad</th>
					<th>Observaciones</th>
					<th>&nbsp;&nbsp;&nbsp;</th>
					<th>&nbsp;&nbsp;&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="producto: ${productos}">
					<td><a class="btn btn-primary btn-xs" th:href="@{/ver/} + ${producto.id}" th:text="${producto.id}"></a></td>
					<td th:text="${producto.nombre}"></td>
					<td th:text="${producto.cantidad}"></td>
					<td th:text="${producto.observaciones}"></td>
					<td><a class="btn btn-primary btn-xs"
						th:href="@{/formp/} + ${producto.id}" th:text="'editar'"></a></td>
					<td><a class="btn btn-danger btn-xs"
						th:href="@{/eliminarp/} + ${producto.id}" th:text="'eliminar'"
						onclick="return confirm('Estás seguro?');"></a></td>
				</tr>
			</tbody>
		</table>
		</div>
		</div>
				
	</div>
	<footer th:replace="layout/layout :: footer"></footer>	
		<script>
			$(document).ready(function() {
				$("#materialDataTable").DataTable({
						"language": {
				            "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
				        },
						'aoColumnDefs': [{
        				'bSortable': false,
        				'aTargets': [-1] /* 1st one, start by the right */
    				}]
				});
			})
		</script>
</body>
</html>