<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">
		<div sec:authorize="isAuthenticated()">
  			  Welcome, <span sec:authentication="name">Username</span>     
		</div>
		<div class="card">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<h4 class="card-title">
				<span sec:authorize="hasAuthority('ADMIN')">
					<a th:href="@{/formu}" class="btn btn-primary btn-xs">Crear
						Usuario</a>
				</span>
				</h4>

				<table class="table table-striped" id="usuarioDataTable">
					<thead>
						<tr>
							<th>ID</th>
							<th>Usuario</th>
							<th>Email</th>
							<th>Nombre completo</th>
							<th>&nbsp;&nbsp;&nbsp;</th>
							<th>&nbsp;&nbsp;&nbsp;</th>
							<th>&nbsp;&nbsp;&nbsp;</th>
						</tr>
					</thead>

					<tbody>
						<tr th:each="usuario: ${usuarios}">
							<td><a class="btn btn-primary btn-xs"
								th:href="@{/veru/} + ${usuario.id}" th:text="${usuario.id}"></a></td>
							<td th:text="${usuario.usuario}"></td>
							<td th:text="${usuario.email}"></td>
							<td th:text="${usuario.nombrecompleto}"></td>
	
							
							<td><a class="btn btn-success btn-xs"
								th:href="@{/planificacione/formf/} + ${usuario.id}" th:text="'Crear Planificaciones'"></a></td>							
							
							
							<td><a class="btn btn-primary btn-xs"
								th:href="@{/formu/} + ${usuario.id}" th:text="'Editar'"></a></td>
							<td>
							<div sec:authorize="hasAuthority('ADMIN')">
								<a class="btn btn-danger btn-xs"
								th:href="@{/eliminaru/} + ${usuario.id}" th:text="'Eliminar'"
								onclick="return confirm('Estás seguro?');"></a>
							</div>
							</td>

						</tr>
					</tbody>

				</table>
			</div>
		</div>

	</div>
	<footer th:replace="layout/layout :: footer"></footer>	
		<script>
			$(document).ready(function() {
				$("#usuarioDataTable").DataTable({
						'aoColumnDefs': [{
        				'bSortable': false,
        				'aTargets': [-1] /* 1st one, start by the right */
    				}]
				});
			})
		</script>
</body>
</html>