<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">
       
        <div class="card">
        <div class="card-header" th:text="${titulo}"></div>
        <div class="card-body">
        

		<h4 class="card-title">
			<a th:href="@{/form}" class="btn btn-primary btn-xs">Crear Sala</a>
		</h4>
		<table class="table table-striped" id="salaDataTable">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nombre</th>
					<th>Aforo</th>
					<th>Observaciones</th>
					<th>&nbsp;&nbsp;&nbsp;</th>
					<th>&nbsp;&nbsp;&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="sala: ${salas}">
					<td th:text="${sala.id}"></td>
					<td th:text="${sala.nombre}"></td>
					<td th:text="${sala.aforo}"></td>
					<td th:text="${sala.observaciones}"></td>
					<td><a class="btn btn-primary btn-xs"
						th:href="@{/form/} + ${sala.id}" th:text="'editar'"></a></td>
					<td><a class="btn btn-danger btn-xs"
						th:href="@{/eliminar/} + ${sala.id}" th:text="'eliminar'"
						onclick="return confirm('Estás seguro?');"></a></td>
				</tr>
			</tbody>
		</table>
		</div>
		</div>
          
	</div>
	<footer th:replace="layout/layout :: footer"></footer>	
		<script>
			$(document).ready(function() {
				$("#salaDataTable").DataTable({
						'aoColumnDefs': [{
        				'bSortable': false,
        				'aTargets': [-1] /* 1st one, start by the right */
    				}]
				});
			})
		</script>
</body>
</html>